@{ ViewData["Title"] = "Home Page"; }

<div
  class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center folder-1-gradient border-radius-theme"
>
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold">Designed for engineers</h1>
    <h3 class="fw-normal text-muted mb-1">Build anything you want with Aperture</h3>
  </div>
  <div class="d-none d-md-block">
    <svg
      class="rounded-circle"
      width="150"
      height="150"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="68%" height="100%" fill="#2aff00" class="animation-circle"></rect>
    </svg>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Backend</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div
      class="bg-theme border-radius-theme shadow-sm mx-auto"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    ></div>
  </div>
  <div
    class="bg-theme border-radius-theme me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
  >
    <div class="my-3 p-3">
      <h2 class="display-5">Frontend</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div
      class="bg-dark shadow-sm mx-auto"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    ></div>
  </div>
</div>

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p
    >Learn about
    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p
  >
</div>

<div id="Inner">
  <h1>Lorem Ipsum</h1>
  <h4
    >"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
    velit..."</h4
  >
  <h5
    >"There is no one who loves pain itself, who seeks after it and wants to have it, simply because
    it is pain..."</h5
  >
  <hr />

  <div id="Content">
    <div id="bannerL">
      <div
        align="center"
        data-freestar-ad="__300x600"
        id="lipsumcom_left_siderail"
        name="lipsumcom_left_siderail"
        data-google-query-id="CISx8M7jr4ADFY1P3QIdaOQEzw"
      >
        <div id="bannerR">
          <div
            align="center"
            data-freestar-ad="__300x600"
            id="lipsumcom_right_siderail"
            name="lipsumcom_right_siderail"
            data-google-query-id="CIWx8M7jr4ADFY1P3QIdaOQEzw"
          >
            <div class="boxed">
              <div id="lipsum">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mi odio,
                  laoreet eget viverra ac, mollis non lacus. Nunc faucibus sem eros, eu molestie
                  lacus tincidunt at. Pellentesque in ornare velit. Vestibulum vitae ultricies dui.
                  Integer tempus augue imperdiet nisi facilisis lacinia. Suspendisse convallis quam
                  vel lectus tempor, a interdum nulla porta. Sed metus velit, cursus vel orci vel,
                  auctor bibendum est. Aenean porttitor orci non imperdiet hendrerit. Quisque
                  molestie non dui quis iaculis. Cras bibendum erat orci, eget bibendum augue
                  sollicitudin mattis. Nullam mattis pretium tincidunt. Quisque consequat, est id
                  elementum scelerisque, metus nibh maximus sem, in tempus est neque vitae metus.
                  Aliquam eu pellentesque tortor.
                </p>
                <p>
                  Nunc ac est mi. Etiam tincidunt porta orci, non placerat dui semper eget. Nulla
                  leo dui, rhoncus sed finibus id, imperdiet id tortor. Nam tincidunt id diam eu
                  volutpat. Donec et pharetra metus. Nulla ultrices et enim et fringilla. Nullam et
                  ipsum et lectus tempus blandit. Suspendisse elementum, libero nec facilisis
                  ullamcorper, nisi quam faucibus risus, in ultrices ante arcu vel augue. Orci
                  varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <p>
                  Integer vel arcu felis. Maecenas sed metus suscipit elit efficitur tincidunt.
                  Fusce sed nisi sed felis cursus lacinia suscipit vitae magna. Donec congue lacus
                  ante, vitae posuere augue pulvinar eget. Nam ante ipsum, tempor vitae lectus at,
                  pretium placerat dolor. Phasellus tempor quis mi nec porta. Donec in ligula non
                  ipsum porta tempus non rhoncus massa. Quisque ultricies a ligula id suscipit. Nunc
                  id vehicula nunc. Sed vitae lectus mollis, facilisis ex vitae, bibendum leo. In
                  vitae libero sed turpis faucibus dapibus. Curabitur laoreet ante ut sem finibus,
                  at finibus neque fermentum. Fusce orci nulla, imperdiet non elementum a, tincidunt
                  in nisi.
                </p>
              </div>
              <div id="generated">
                Generated 38 paragraphs, 3399 words, 22772 bytes of
                <a href="https://www.lipsum.com/" title="Lorem Ipsum">Lorem Ipsum</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
