<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Code Chronicles</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    />
  </head>
  <body>
    <header>
      <nav
        class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 nav-bar"
      >
        <div class="container-fluid justify-content-between">
          <img src="~/img/light.png" class="logo" id="logoImage" />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

            @* <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
              </li>
            </ul> *@
            <!-- Dark mode/light mode toggle button -->
            <div class="switch">
              <input type="checkbox" class="checkbox" id="checkbox" onclick="setDarkMode()"/>
              <label for="checkbox" class="label">
                <i class="ri-moon-clear-fill"></i>
                <i class="ri-sun-fill"></i>
                <div class="ball"></div>
              </label>
            </div>
        </div>
      </nav>
    </header>
    <div class="container mt-5">
      <main role="main" class="pb-3"> @RenderBody() </main>
    </div>

    <footer class="border-top footer text-muted">
      <div class="container">
        &copy; <span id="year"></span> Code Chronicles by
        <a class="user-git" target="_blank" href="https://github.com/acamilateixeira"
          >@@acamilateixeira</a
        >
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="~/js/utils.js" asp-append-version="true"></script>

    <script>
      document.getElementById("year").innerText = getYear();

        if (localStorage.getItem("theme") === "dark") {
    setDarkMode();

    if (document.getElementById("checkbox").checked) {
      localStorage.setItem("checkbox", true);
    }
  }

  function setDarkMode() {
    let isDark = document.body.classList.toggle("darkmode");
 let logoImage = document.getElementById("logoImage");
 
    if (isDark) {
      document.getElementById("checkbox").checked = true;
      logoImage.src = "/img/dark.png";
      localStorage.setItem("theme", "dark");
    } else {
      document.getElementById("checkbox").checked = false;
            logoImage.src = "/img/light.png";
      localStorage.removeItem("theme");
    }
  }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
